.selectItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5%;

    .selectBox{
        width: 50%;
    }
    .count{
        font-size: 2em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
